.collapse-box {
  &__label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
  }

  &__label__icon {
    margin-right: auto;
    transition: all 300ms;
    font-size: var(--size-16);
    transform-origin: center;
    color: theme('colors.gray.300');
  }
}
