.date-picker-input {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: var(--input-resize, none);
  display: block;
  width: 100%;
  transition: border-color 100ms ease;
  text-align: var(--input-text-align);
  color: var(--input-color);
  border: 0.0625rem solid var(--input-bd);
  background-color: var(--input-bg);
  font-family: var(--input-font-family, system-ui, -apple-system, sans-serif);
  height: var(--input-size);
  min-height: var(--input-height);
  line-height: var(--input-line-height);
  font-size: var(--input-fz, 0.875rem);
  border-radius: var(--input-radius);
  padding-inline-start: var(--input-padding-inline-start);
  padding-inline-end: var(--input-padding-inline-end);
  padding-top: var(--input-padding-y, 0rem);
  padding-bottom: var(--input-padding-y, 0rem);
  cursor: var(--input-cursor);
  overflow: var(--input-overflow);
  position: relative;
  margin-top: var(--input-margin-top, 0rem);
  margin-bottom: var(--input-margin-bottom, 0rem);
  --input-height-xs: 1.875rem;
  --input-height-sm: 2.25rem;
  --input-height-md: 2.625rem;
  --input-height-lg: 3.125rem;
  --input-height-xl: 3.75rem;
  --input-padding-y-xs: 0.3125rem;
  --input-padding-y-sm: 0.375rem;
  --input-padding-y-md: 0.5rem;
  --input-padding-y-lg: 0.625rem;
  --input-padding-y-xl: 0.8125rem;
  --input-height: var(--input-height-sm);
  --input-radius: 0.25rem;
  --input-cursor: text;
  --input-text-align: left;
  --input-line-height: calc(var(--input-height) - 0.125rem);
  --input-padding: calc(var(--input-height) / 3);
  --input-padding-inline-start: var(--input-padding);
  --input-padding-inline-end: var(--input-padding);
  --input-placeholder-color: #868e96;
  --input-color: #1a1b1e;
  --input-left-section-size: calc(var(--input-height) - 0.125rem);
  --input-right-section-size: calc(var(--input-height) - 0.125rem);
  --input-size: var(--input-height);
  --section-y: 0.0625rem;
  --left-section-start: 0.0625rem;
  --left-section-border-radius: var(--input-radius) 0 0 var(--input-radius);
  --right-section-end: 0.0625rem;
  --right-section-border-radius: 0 var(--input-radius) var(--input-radius) 0;

  &:focus,
  &:focus-within {
    outline: none;
    --input-bd: var(--input-bd-focus);
  }
}

[data-color-scheme='light'] .date-picker-input {
  --input-bd: #ced4da;
  --input-bg: #ffffff;
  --input-bd-focus: #228be6;
  --input-disabled-bg: #f8f9fa;
  --input-disabled-color: #adb5bd;
}

[data-color-scheme='dark'] .date-picker-input {
  --input-bd: #373a40;
  --input-bg: #25262b;
  --input-bd-focus: #228be6;
  --input-disabled-bg: #25262b;
  --input-disabled-color: #5c5f66;
}

:where([dir='rtl']) .date-picker-input {
  --input-text-align: right;
  --left-section-border-radius: 0 var(--input-radius) var(--input-radius) 0;
  --right-section-border-radius: var(--input-radius) 0 0 var(--input-radius);
}
