@reference "tailwindcss";

.root {
  @apply relative isolate aspect-36/17 min-h-80 w-full bg-linear-to-l from-[#94D2C6] to-[#5BBDB7];
  max-height: calc(100vh - var(--header-height));
}

.content {
  @apply mx-auto flex h-full flex-col items-center justify-center max-sm:py-6 md:pb-[5vw] xl:w-5/6;
}

.title {
  @apply text-center font-medium text-black;
  font-size: clamp(1.125rem, 2.6vw, 2.25rem);
}

.benefits {
  @apply mt-2 flex items-center max-md:flex-col md:mt-5 md:gap-4 lg:gap-8 xl:mt-8;
  font-size: clamp(0.875rem, 1.25vw, 1.25rem);
}

.benefit-item {
  @apply flex items-center gap-2;
}

.button--create-contract {
  @apply mt-2 w-60 font-medium max-md:h-8 max-md:w-52 max-sm:hidden lg:h-11 lg:w-72 lg:text-base xl:mt-5 xl:h-12 xl:text-lg;
}

.button--login {
  @apply mt-7 w-full max-w-xs sm:hidden;
}

.button--download {
  @apply mt-3 w-full max-w-xs sm:hidden;
}

.links {
  @apply mt-3 hidden items-center justify-center gap-x-2 gap-y-2 sm:flex md:mt-4 md:gap-x-6 lg:mt-8 lg:gap-x-10 xl:mt-12;
}
