<section class="clause">
    <h2>ماده 2_ موضوع قرارداد و مشخصات مورد اجاره</h2>
    <h3>بند اول- مشخصات موجر و مستاجر</h3>
    <p>
        موضوع قرارداد پیش رو،
        <span class="teal">اجاره (تملیک منافع)</span>
        یک
        <span class="teal">{{ property.property_type | translate }}</span>
        واقع در
        <span class="teal">استان {{ property.city.province }} - شهر {{ property.city.name }}</span>
        و به آدرس:
        <span class="teal">{{ property.address }}</span>
        می باشد.
    </p>

    <h3 class="mt-3">بند دوم- مشخصات مورد اجاره</h3>

    <table>
        <tr>
            <th>کد پستی</th>
            <th>سال ساخت</th>
            <th>ثبتی اصلی</th>
            <th>ثبتی فرعی</th>
            <th>مساحت</th>
            <th>نوع سند</th>
            <th>اسکلت</th>
            <th>کفپوش</th>
        </tr>

        <tr>
            <td class="teal">{{ property.postal_code }}</td>
            <td class="teal">{{ property.build_year | gregorian_to_jalali_year }}</td>
            <td class="teal">{{ property.main_register_number }}</td>
            <td class="teal">{{ property.sub_register_number }}</td>
            <td class="teal">{{ property.area }}</td>
            <td class="teal">{{ property.deed_status | translate }}</td>
            <td class="teal">{{ property.structure_type | translate }}</td>
            <td class="teal">{{ property.flooring_types | map('translate') | join("، ") }}</td>
        </tr>

        <tr>
            <th>برق</th>
            <th>گاز</th>
            <th>فاضلاب</th>
            <th>آب</th>
            <th>شماره انباری</th>
            <th>متراژ انباری</th>
            <th>شماره پارکینگ</th>
            <th>شماره تلفن</th>
        </tr>

        <tr>
            <td class="teal">
                {{ property.electricity_supply_type | translate }}
                {{if}}
                {% if property.electricity_bill_id %}
                <br/>
                <span class="grey">شناسه:</span> {{ property.electricity_bill_id }}
                {% endif %}
            </td>
            <td class="teal">{{ property.gas_supply_type | translate }}</td>
            <td class="teal">{{ property.sewage_supply_type | translate }}</td>
            <td class="teal">{{ property.water_supply_type | translate }}</td>
            <td class="{{'teal' if property.storage_room else ''}}">
                {{ property.storage_room_number if property.storage_room else "ندارد" }}
            </td>
            <td class="{{'teal' if property.storage_room else ''}}">
                {{ property.storage_room_area if property.storage_room else "-"}}
            </td>
            <td class="{{'teal' if property.parking else ''}}">
                {{ property.parking_number if property.parking else "ندارد"}}
            </td>
            <td class="{{'teal' if property.landline else ''}}">
                {{ property.landline_number[:2] | join(' <br/> ') if property.landline else "ندارد"}}
            </td>
        </tr>

        <tr>
            <th>آشپزخانه</th>
            <th>آسانسور</th>
            <th>نمای ساختمان</th>
            <th>جهت</th>
            <th>سرویس بهداشتی</th>
            <th>تعداد اتاق</th>
            <th>سیستم سرمایش</th>
            <th>سیستم گرمایش</th>
        </tr>

        <tr>
            <td class="teal">{{ property.kitchen_type | translate }}</td>
            <td class="{{'teal-dark' if property.elevator else ''}}">
                {{ 'دارد' if property.elevator else 'ندارد' }}
            </td>
            <td class="teal">{{ property.facade_types | map('translate') | join("، ") }}</td>
            <td class="teal">{{ property.direction_type | translate }}</td>
            <td class="teal">{{ property.restroom_type | translate }}</td>
            <td class="teal">{{ property.number_of_rooms }}</td>
            <td class="teal">{{ property.cooling_system_types | map('translate') | join("، ") }}</td>
            <td class="teal">{{ property.heating_system_types | map('translate') | join("، ") }}</td>
        </tr>
    </table>

    <ul class="mt-3">
        {% if property.other_facilities | length > 0 %}
        <li>
            ✓ سایر امکانات :
            {{ property.other_facilities | map('translate') | join("، ") }}
        </li>
        {% endif %}
        {% if property.description %}
        <li>
            ✓ توضیحات : 
            {{ property.description }}
        </li>
        {% endif %}
        <li>
            ✓ همچنین تمامی منصوبات و مشاعات مربوطه به رویت طرفین رسیده است.
        </li>
    </ul>
</section>